@import "tailwindcss";

@theme {
  --color-primary: #66c0f4;
  --color-foreground: #fafafa;
  --color-background: #171a21;

  --color-secondary: #bfdbfe;

  --color-muted: #7d7d7d;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}